<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body style="background-color:#f6d55c;">
<style>
    input{
    transition: .1s ease-in-out;
    }
    input:hover{
    color: whitesmoke;
    transform: scale(1.05);
    }
    a{
    transition: .1s ease-in-out;
    }
    a:hover{
    color: whitesmoke;
    transform: scale(1.05);
    }
    button{
    transition: .1s ease-in-out;
    }
    button:hover{
    color: whitesmoke;
    transform: scale(1.05);
    }
</style>

    <div style="width:1600px;height:950px;margin-top:-100px">
        <img src="https://static.acer.com/up/Resource/Acer/Laptops/Nitro_5/Image/20200515/Acer-Nitro-5_AN515-44_RGB-KB_modelmain.png"
             alt="IMG" style="width:1000px;height:650px;">
    </div>

        <table class="table" style="width:1200px;text-align:center;margin-top:-400px">
            <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Бренд</th>
                <td>Acer</td>
            </tr>
            <tr>
                <th scope="row">Модель</th>
                <td>Nitro 5</td>
            </tr>
            <tr>
                <th scope="row">Стоимость</th>
                <td>1000$</td>
            </tr>
            <tr>
                <th scope="row">Описание</th>
                <td>Мощный компьютер</td>
            </tr>
            <tr>
                <th scope="row">Состояние</th>
                <td>Новый</td>
            </tr>
            <tr>
                <th scope="row">RAM</th>
                <td>Crucial 8GB</td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td>12th Gen Intel® Core™ i7</td>
            </tr>
            <tr>
                <th scope="row">Память</th>
                <td>1TB</td>
            </tr>
            <tr>
                <th scope="row">Тип памяти</th>
                <td>DDR4</td>
            </tr>
            <tr>
                <th scope="row">Оперативная память</th>
                <td>Windows 10</td>
            </tr>
            <tr>
                <th scope="row">GPU</th>
                <td>GTX 1070</td>
            </tr>
            </tbody>
        </table>
    </center>

</body>
</html>